@import "_common";

footer{
    width: 100%;
    background-color: $colorDarkGray;
    min-height: 200px;
    .footerContainer{
        margin: auto;
        max-width: $contentMaxWidth - 40px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        .footerLinksAndLogo{
            flex-grow: 1;
            display: flex;
            max-width: 400px;
            margin-top: 56px;
            .logo{
                @include FontAcuminProBold;
                font-size: 13px;
                color: white;
                margin-right: 10px;
            }
            .linkContainer{
                display: flex;
                width: 300px;
                justify-content: space-between;
                flex-wrap: wrap;
                .singleLink{
                        width: 100px;
                        text-decoration: none;
                        color: white;
                        @include FontHelveticaBold;
                        font-size: 13px;
                        opacity: 0.5;
                        margin-bottom: 8px;
                }
                .singleLink:hover{
                    opacity: 1;
                }
            }
        }
        .footerFormAndMedia{
            flex-grow: 1;
            display: flex;           
            justify-content: space-around;
            max-width: 400px;
            margin-top: 56px;
            .newsletterForm{
                position: relative;
                margin-right: 20px;
                .textInput{
                    border: 2px solid $colorLightGray; 
                    border-radius: 5px;
                    opacity: 0.5;
                    color: $colorLightGray;
                    @include FontHelvetica;
                    font-size: 13px;
                    width: 200px;
                    padding: 12px 40px 12px 20px;
                    background: $colorDarkGray;
                }
                button{
                    background-color: $colorDarkGray;
                    border: none;
                    opacity: 0.5;
                    position: absolute;
                    top: 15px;
                    right: 10px;
                }
                button:hover{
                    opacity: 1;
                }
                h6{
                    margin: 15px 0 0 0;
                    @include FontHelvetica;
                    font-size: 11px;
                    color: white;
                    opacity: 0.5;
                }
            }
            .mediaLinks{
                max-width: 160px;
                display: flex;
                flex-grow: 1;
                justify-content: space-between;
            }
        }
    }
    @media(max-width: 375px){
        .newsletterForm{
            display: none;
        }
        .footerLinksAndLogo{
            .logo{
                display: none;
            }
        }
    }
    @media(max-width: 768px){
        .footerContainer{
            flex-direction: column !important;
            .footerFormAndMedia{
                margin-top: 50px;
            }
            .footerLinksAndLogo, .footerFormAndMedia{
                max-width: 100%;
            }
            .mediaLinks{
                margin-bottom: 10px;             
            }
        }
    }
}