@import "_common";

$navHeight: 50px;

.navContainer{
    width: 100%;
    height: $navHeight;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: $colorLightGray;
    z-index: 1001;
    .logo{
        height: 30px;
        padding: 10px 0 10px 20px;
        color: $colorRose;
        font-size: 13px;
        vertical-align: middle;
        line-height: 30px;
    }
    .mainNav{
        @include FontAcuminProBold;
        text-transform: uppercase;
        font-size: 11px;
        padding: 0;
        vertical-align: middle;
        line-height: $navHeight;
        .navItem{
            margin: 0 10px;
            height: 100%;
        }
        a{
            text-decoration: none;
            color: #343638;
            opacity: 0.5;
        }
        .navItemIcon{
            margin: -2px 10px;
        }
    }    
    .subNav {
        display: none;
        position: absolute;
        top: 50px;
        margin-left: -30px;
        background-color: $colorLightGray;
        line-height: 30px;
        padding: 0 30px 10px 30px;
    }
    .profilePic{
        margin: 0 20px;
        height: 30px;
    }
}

ul{
    list-style-type: none;
    margin: 0;
}
@media (min-width: 376px){
    .mainNav{
        display: flex;
        height: $navHeight;
        .navItemIcon{
            margin: -2px 10px;
            display: none;
        }
        a:hover{
            opacity: 1;
        }
        li:hover, .subNav:hover{
            .subNav{
                display: block;              
            }
        }
    }
    .burgerMenu{
        display: none;
    }
    .logo{
        flex-grow: 1;
    }
}
@media (max-width: 375px){
    .navContainer{
        justify-content: space-between;
    }
    .mainNav{
        display: none;
        position: fixed;
        top: $navHeight;
        height: auto;
        width: 100%;
        background-color: white;
    }
    .visible{
        display: block;
    }
    .burgerMenu{
        display: block;
        cursor: pointer;
        margin-left: 20px;
    }
}