.trendingSection{
    margin: auto;
    margin-top: 50px;
    max-width: $contentMaxWidth - 40px;
    padding: 0 20px;
    h3{
        @include FontHelveticaBold;
        font-size: 24px;
    }
    .trendingContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        .singleNews{
            flex-basis: 32%;
            background-color: white;
            margin-bottom: 20px;
            margin-right: 0;         
            h4, h6, p{
                padding: 0 15px;
            }
            .newsImage{
                width: 100%;            
            }
        }
    }
}

@media(max-width: 768px){
    .singleNews{
        flex-basis: 48% !important;
    }
}
@media(max-width: 375px){
    .singleNews{
        flex-basis: 100% !important;
    }
}